<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>Display Teachers</title>
	</head>
	<body>
		<h1>Παρακαλώ εισάγετε το αρχείο Excel</h1>
		<div id="container">
			<form method="POST" action="/save_db_xls/">
	  			<input id="send" type="submit" value="Upload">
			</form>
			<form method="POST" action="/save_db_labs/">
	  			<input id="send" type="submit" value="Fill">
			</form>
			{% if msg %}
				<p>{{ msg }}</p>
			{% endif %}
		</div>
	</body>
</html>
