{% load diogenis_extras %}

{% raw %}

<script id="authenticate-tpl" type="text/x-handlebars-template">
	<span data-action="authenticate"></span>
	{{#if old_layout}}
	    <div class="box" style="width: 500px; position: absolute; top: 130px; left: 400px;">
	        <h2>Δεν μπορώ να εγγραφώ!</h2>
	        <p>Εφόσον είναι αδύνατο να εγγραφείτε και με τον δεύτερο τρόπο, <a href="mailto:support{{#if old_layout}}@{{/if}}diogenis.teilar.gr">επικοινωνήστε μαζί μας</a>.</p>
	    </div>
	    <div class="entry">
		    <label for="signup-username">Username στον Διόνυσο</label>
		    <input id="signup-username" name="signup-username" type="text" data-type="username"/>
	    </div>
        <div class="entry">
		    <label for="signup-password">Κωδικός στον Διόνυσο</label>
		    <input id="signup-password" name="signup-password" type="password" data-type="password"/>
	    </div>
	{{else}}
	    <div class="box" style="width: 500px; position: absolute; top: 150px; left: 400px;">
	        <h2>Βοήθεια</h2>
	        <p>Η επαλήθευση των στοιχείων από τον Διόνυσο είναι μια επίπονη διαδικασία.</p>
	        <p class="new">Σε περίπτωση σφάλματος και εφόσον ο Διόνυσος λειτουργεί δοκιμάστε τον <a href="#" id="toggle-layout">εναλλακτικό τρόπο εγγραφής</a>.</p>
	    </div>
	    <div class="entry">
		    <label for="signup-username">Username στον Διόνυσο</label>
		    <input id="signup-username" name="signup-username" type="text" data-type="username"/>
	    </div>
        <div class="entry">
		    <label for="signup-password">Κωδικός στον Διόνυσο</label>
		    <input id="signup-password" name="signup-password" type="password" data-type="password"/>
	    </div>
	    <div class="entry">
		    <label for="signup-registration-number">Αριθμός Μητρώου</label>
		    <input id="signup-registration-number" name="signup-registration-number" type="text" data-type="registration-number"/>
	    </div>
	    <div class="entry">
		    <label for="signup-first-name">Όνομα</label>
		    <input id="signup-first-name" name="signup-first-name" type="text" data-type="first-name"/>
	    </div>
	    <div class="entry">
		    <label for="signup-last-name">Επώνυμο</label>
		    <input id="signup-last-name" name="signup-last-name" type="text" data-type="last-name"/>
	    </div>
	{{/if}}
	<button class="button regular important">Εγγραφή</button>	
</script>

<script id="signup-tpl" type="text/x-handlebars-template">
    <span 
        data-action="signup" 
        data-username="{{credentials.username}}" 
        data-registration_number="{{credentials.registration_number}}" 
        data-first_name="{{credentials.first_name}}" 
        data-last_name="{{credentials.last_name}}" 
        data-semester="{{credentials.semester}}" 
        data-introduction_year="{{credentials.introduction_year}}"
    ></span>
    <div class="box" style="width: 500px; position: absolute; top: 130px; left: 400px;">
        <h2>Όροι Χρήσης</h2>
        <div class="terms">
            <p>Η διαδικτυακή υπηρεσία <strong>Diogenis</strong> εφεξής αναφέρεται ως ΥΠΗΡΕΣΙΑ. Η διοίκηση, οι δημιουργοί και οι συντηρητές της ΥΠΗΡΕΣΙΑΣ εφεξής αναφέρονται ως ΔΙΑΧΕΙΡΙΣΤΕΣ.</p>
            <ol>
                <li><p>Τα στοιχεία τα οποία παρέχετε κατά την εγγραφή σας στην υπηρεσία, είναι αληθή και δεν αποτελούν προϊόν υποκλοπής και η χρήση αυτών για εγγραφή στην ΥΠΗΡΕΣΙΑ, είναι με τη γνώση και τη συγκατάθεση του νόμιμου κατόχου αυτών.</p></li>
                <li><p>Για όλα τα προσωπικά σας στοιχεία, <strong>εκτός της σχολής</strong> στην οποία ανήκετε, ελέγχεται και διασταυρώνεται η εγκυρότητά τους με τα στοιχεία που υπάρχουν στο dionysos.teilar.gr. Με την αποδοχή αυτών των Όρων Χρήσης, για οποιεσδήποτε εσφαλμένες δηλώσεις του ονόματος της σχολής στην οποία ανήκετε, η ΥΠΗΡΕΣΙΑ και οι ΔΙΑΧΕΙΡΙΣΤΕΣ δε φέρουν καμία άλλη ευθύνη, παρά μόνο τη διόρθωση των στοιχείων σας στην ΥΠΗΡΕΣΙΑ, μετά από έγκαιρη ενημέρωση των ΔΙΑΧΕΙΡΙΣΤΩΝ σχετικά με την εσφαλμένη εγγραφή.</p></li>
                <li><p>Μπορεί να συλλέξουμε, χρησιμοποιήσουμε και/ή κοινοποιήσουμε τα προσωπικά σας δεδομένα εάν αυτό απαιτείται από το νόμο ή όπου κρίνουμε ότι μια τέτοια πράξη είναι απαραίτητη για να εντοπίσουμε, να προστατέψουμε ή να υποστηρίξουμε εμάς ή/και τρίτους ενάντια σε περιπτώσεις σφάλματος, αμέλειας, παράβασης των όρων χρήσης της ΥΠΗΡΕΣΙΑΣ, κλοπής ή κακόβουλης παραποίησης δεδομένων, απάτης και άλλης παράνομης και καταχρηστικής ενέργειας, για να ελέγξουμε τη συμμόρφωση της ΥΠΗΡΕΣΙΑΣ με την πολιτική και το καταστατικό του Τ.Ε.Ι. Λάρισας.</p></li>
            </ol>
        </div>
    </div>
    <div class="entry" style="margin-top:152px;">
	    <label for="school">Τμήμα</label>
	    <select size="3" style="width: 220px;" data-placeholder="Επιλέξτε το τμήμα σας" id="school" name="school">
		    <option value=""></option>
		    {{#schools}}
		        <option data-id="{{id}}" value="{{title}}">{{title}}</option>
		    {{/schools}}
	    </select>
	</div>
	<h4 style="margin-top: 22px;">Τα στοιχεία σας</h4>
    <ul class="credentials">
        <li><strong>Αριθμός Μητρώου</strong><span>{{credentials.registration_number}}</span></li>
        <li><strong>Όνομ/πώνυμο</strong><span>{{credentials.first_name}} {{credentials.last_name}}</span></li>
        {{#if credentials.introduction_year}}<li><strong>Έτος Εισαγωγής</strong><span>{{credentials.introduction_year}}</span></li>{{/if}}
    </ul>
    <div class="box terms" style="width: 400px; position: absolute; top: 333px; margin:0;">
        <p><input type="checkbox" id="agree-terms" name="agree-terms" style="vertical-align:middle;">&ensp;Διάβασα και Συμφωνώ με τους Όρους Χρήσης</input></p>
	</div>
	<button class="button regular important">Είσοδος</button>	
</script>

{% endraw %}
