{% extends "base.html" %}

{% block extra_css %}
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}ui.teachers.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}redmond/jquery-ui.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}modal.css" />
{% endblock %}

{% block sidebar %}
<div id="sidebar">
	<a id="add-lab" class="button important regular" href="#">Προσθήκη Εργαστηρίου</a>
	<ul id="navigation">
		<li>
			<a class="first {% block manage-labs-active %}{% endblock %}" href="{% url teachers.index user.username %}">
				<img src="{{ STATIC_URL }}img/black_board_icon.png" />
				Διαχείριση Εργαστηρίων
			</a>
		</li>
		<li>
			<a class="last {% block pending-students-active %}{% endblock %}" href="{% url teachers.pending-students user.username %}">
				<img src="{{ STATIC_URL }}img/drawer_icon.png" />
				Αίθουσα Αναμονής
			</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block content %}
	{% block modal_box %}
	<div id="osx-modal-content">
		<div id="osx-modal-title">Προσθήκη Εργαστηρίου</div>
		<div class="close"><a href="#" class="simplemodal-close">x</a></div>
		<div id="osx-modal-data">
			<ol id="lab-registration">
				<li id="select-lesson" class="focused">
					<h3>1</h3>
					<label for="lesson-name">Επιλέξτε Μάθημα</label>
					<select id="lesson-name" class="lesson-name" name="lesson-name">
						<option value="">Όνομα Μαθήματος</option>
						{% for course in courses %}
						    {% if courses|length > 1 %}
						        <optgroup label="{{course.school}}">
						        {% for lesson in course.lessons %}
							    <option data-id="{{ lesson.hash_id }}" value="{{ lesson.lesson__name }}">{{ lesson.lesson__name }}</option>
						        {% endfor %}
						        </optgroup>
							{% else %}
								{% for lesson in course.lessons %}
							    <option data-id="{{ lesson.hash_id }}" value="{{ lesson.lesson__name }}">{{ lesson.lesson__name }}</option>
						        {% endfor %}
							{% endif %}
						{% endfor %}
					</select>
				</li>
				<li id="select-lab">
					<h3>2</h3>
					<label for="lesson-day">Επιλέξτε Ημέρα</label>
					<select id="lesson-day" class="lesson-day" name="lesson-day">
						<option value="">Ημέρα</option>
						<option value="Δευτέρα">Δευτέρα</option>
						<option value="Τρίτη">Τρίτη</option>
						<option value="Τετάρτη">Τετάρτη</option>
						<option value="Πέμπτη">Πέμπτη</option>
						<option value="Παρασκευή">Παρασκευή</option>
					</select>
					<span class="ux-text" >&ndash;</span>
					<label for="lesson-hour-start">Επιλέξτε Ώρα Έναρξης</label>
					<select id="lesson-hour-start" class="lesson-hour-start" name="lesson-hour-start">
						<option value="">Ώρα Έναρξης</option>
						<option value="8">8 π.μ.</option>
						<option value="9">9 π.μ.</option>
						<option value="10">10 π.μ.</option>
						<option value="11">11 π.μ.</option>
						<option value="12">12 μ.μ.</option>
						<option value="13">1 μ.μ.</option>
						<option value="14">2 μ.μ.</option>
						<option value="15">3 μ.μ</option>
						<option value="16">4 μ.μ.</option>
						<option value="17">5 μ.μ</option>
						<option value="18">6 μ.μ.</option>
						<option value="19">7 μ.μ</option>
						<option value="20">8 μ.μ.</option>
						<option value="21">9 μ.μ.</option>
						<option value="22">10 μ.μ.</option>
					</select>
					<span class="ux-text" >και</span>
					<label for="lesson-hour-end">Επιλέξτε Ώρα Λήξης</label>
					<select id="lesson-hour-end" class="lesson-hour-end" name="lesson-hour-end">
						<option value="">Λήξης</option>
						<option value="8">8 π.μ.</option>
						<option value="9">9 π.μ.</option>
						<option value="10">10 π.μ.</option>
						<option value="11">11 π.μ.</option>
						<option value="12">12 μ.μ.</option>
						<option value="13">1 μ.μ.</option>
						<option value="14">2 μ.μ.</option>
						<option value="15">3 μ.μ</option>
						<option value="16">4 μ.μ.</option>
						<option value="17">5 μ.μ</option>
						<option value="18">6 μ.μ.</option>
						<option value="19">7 μ.μ</option>
						<option value="20">8 μ.μ.</option>
						<option value="21">9 μ.μ.</option>
						<option value="22">10 μ.μ.</option>
					</select>
				</li>
				<li id="select-class">
					<h3>3</h3>
					<label for="lesson-class">Επιλέξτε Αίθουσα</label>
					<select id="lesson-class" class="lesson-class" name="lesson-class">
						<option value="">Επιλέξτε Αίθουσα</option>
					</select>
					<label class="students-num" for="max-students">Αριθμός Φοιτητών:</label>
					<input id="max-students" name="max-students" type="text" readonly="readonly" />
					<div id="slider-max-students"></div>
				</li>
			</ol>
			
			
			<div id="modal-messages">
				<span id="modal-loader"></span>
				<p></p>
			</div>
			<ul class="modal-controls">
				<li><button class="simplemodal-close">Ακύρωση</button></li>
				<li><a id="submit-lab" class="button important regular" href="#">Αποθήκευση</a><li>
			</ul>
		</div>
	</div>
	{% endblock %}
{% endblock %}

{% block before_compressed_js %}

    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    
{% endblock %}

{% block extra_js_bottom %}
	{% spaceless %}

	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/modal/jquery.simplemodal.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/modal/osx.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.6.min.js"></script>
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/diogenis/core.teachers.lab.create.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/diogenis/core.teachers.absences.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/diogenis/core.teachers.lab.edit.js"></script>
	
    {% endspaceless %}
{% endblock %}

