{% extends "teachers/base.html" %}

{% block manage-labs-active %}active{% endblock %}
{% block content %}

<div id="content" class="logged">
	<div id="ui-messages">
		{% if results %}
		<p>Κονσόλα Μηνυμάτων</p>
		{% else %}
		<p class="warning">Δεν έχετε προσθέσει τα εργαστήρια σας στον Διογένη</p>
		{% endif %}
	</div>
	{{ block.super }}
	{% if results %}
		{% for q in results %}
			{% ifchanged q.name %}<h3>{{ q.name }}</h3>{% endifchanged %}
			{% for q2 in q.labs %}
			<div class="lab">
				
				<h4>
					<span class="lab-name">{{ q2.name }}</span>
					<span class="lab-date"><span class="day">{{ q2.day }}</span> <span class="hour { start:{{q2.hour.start.raw}}, end:{{q2.hour.end.raw}} }">{{ q2.hour.start.humanized }} - {{ q2.hour.end.humanized }}</span></span>
					{% if q.labs_count > 1 and q2.students %}
						<span class="transfer enabled">
							<span>Μετακίνηση</span>
							<ul class="labs-list">
								{% for s in q.labs_list %}
									<li><span class="name">{{ s.name }}</span> &ndash; <span class="day">{{ s.day }}</span> &ndash; <span class="hour { start:{{s.hour.start.raw}}, end:{{s.hour.end.raw}} }">{{ s.hour.start.raw }}-{{ s.hour.end.raw }}</span></li>
								{% endfor %}
							</ul>
						</span>
					{% else %}
						<span class="transfer disabled">
							Μετακίνηση
						</span>
					{% endif %}
				</h4>
				
				{% if q2.students %}
					<table>
						<thead>
							<tr>
								<th class="selection" abbr="Selections" scope="col">#</th>
								<th abbr="Last Name" scope="col">Επώνυμο</th>
								<th abbr="First Name" scope="col">Όνομα</th>
								<th class="am" abbr="AM" scope="col">Αριθμός Μητρώου</th>
							</tr>
						</thead>
						<tbody>				
						{% for q3 in q2.students %}
							<tr>
								<td><input type="checkbox" name="{{ q3.am }}" value="{{ q3.am }}"></td>
								<td>{{ q3.last }}</td>
								<td>{{ q3.first }}</td>
								<td>{{ q3.am }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<div class="extras">
						{% if q2.empty_seats >= 1 %}
						<p><span class="empty-seats number">{{ q2.empty_seats }}</span><span class="empty-seats">Ελεύθερ{{ q2.empty_seats|pluralize:"η,ες" }} Θέσ{{ q2.empty_seats|pluralize:"η,εις" }}</span></p>
						{% endif %}
						{% if q2.empty_seats == 0 %}
						<p><span class="empty-seats no-seat">Συμπληρώθηκε</span></p>
						{% endif %}
						<a class="export-pdf" href="/teachers/{{hash}}/export-pdf/{{ q2.name }}/{{ q2.day }}/{{ q2.hour_raw }}/">Εξαγωγή PDF</a>
					</div>
				{% else %}
					<div class="extras">
						<p><span class="empty-seats no-seat">Καμία Εγγραφή</span></p>
					</div>
				{% endif %}
			</div>
			{% endfor %}
		{% endfor %}
	{% else %}
		{% comment %}
		<p>Δεν έχετε προσθέσει τα εργαστήρια σας στον Διογένη.</p>
		{% endcomment %}
	{% endif %}
</div>

{% endblock content %}


