{% extends "teachers/base.html" %}

{% block pending-students-active %}active{% endblock %}
{% block content %}

<div id="content" class="logged">
	<div id="ui-messages">
		<p>Κονσόλα Μηνυμάτων</p>
	</div>
	{{ block.super }}
	{% if results %}
		{% for q in results %}
			{% if q.labs %}{% ifchanged q.name %}<h3>{{ q.name }}</h3>{% endifchanged %}{% endif %}
			{% for q2 in q.labs %}
			<div class="lab">
				
				<h4>
					<span class="lab-name">{{ q2.name }}</span>
					<span class="lab-date">{{ q2.day }} {{ q2.hour }}</span>
					{% if q.labs_count > 1 and q2.students %}
						<span class="transfer enabled">
							<span>Μετακίνηση</span>
							<ul class="labs-list">
								{% for s in q.labs_list %}
									<li><span class="name">{{ s.name }}</span> &ndash; <span class="day">{{ s.day }}</span> &ndash; <span class="hour">{{ s.hour }}</span></li>
								{% endfor %}
							</ul>
						</span>
					{% else %}
						<span class="transfer disabled">
							Μετακίνηση
						</span>
					{% endif %}
				</h4>
				
				{% if q2.students %}
					<table>
						<thead>
							<tr>
								<th class="selection" abbr="Selections" scope="col">#</th>
								<th abbr="Last Name" scope="col">Επώνυμο</th>
								<th abbr="First Name" scope="col">Όνομα</th>
								<th class="am" abbr="AM" scope="col">Αριθμός Μητρώου</th>
							</tr>
						</thead>
						<tbody>				
						{% for q3 in q2.students %}
							<tr>
								<td><input type="checkbox" name="{{ q3.am }}" value="{{ q3.am }}"></td>
								<td>{{ q3.last }}</td>
								<td>{{ q3.first }}</td>
								<td>{{ q3.am }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<div class="extras">
						{% if q2.empty_seats >= 1 %}
						<p><span class="empty-seats number">{{ q2.empty_seats }}</span><span class="empty-seats">Ελεύθερ{{ q2.empty_seats|pluralize:"η,ες" }} Θέσ{{ q2.empty_seats|pluralize:"η,εις" }}</span></p>
						{% endif %}
						{% if q2.empty_seats == 0 %}
						<p><span class="empty-seats no-seat">Συμπληρώθηκε</span></p>
						{% endif %}
					</div>
				{% else %}
					<div class="extras">
						<p><span class="empty-seats no-seat">Καμία επιπλέον αίτηση εγγραφής</span></p>
					</div>
				{% endif %}
			</div>
			{% endfor %}
		{% endfor %}
	{% else %}
		{% comment %}
		<p>Δεν έχετε προσθέσει τα εργαστήρια σας στο Διογένη.</p>
		{% endcomment %}
	{% endif %}
</div>

{% endblock content %}

{% block extra_js_bottom %}
	{{ block.super }}
	<script type="text/javascript" src="/media/js/teacher-pending-gui.js"></script>
{% endblock %}

