{% extends "teachers/base.html" %}
{% load diogenis_extras %}

{% block pending-students-active %}active{% endblock %}
{% block content %}

<div id="content" class="logged">
	<div id="ui-messages">
		<p>Κονσόλα Μηνυμάτων</p>
	</div>
	{{ block.super }}
	{% if labs %}
		{% for lab in labs %}
		    {% if lab.students %}
	        {% ifchanged lab.lesson.name %}<h3>{{ lab.lesson.name }}</h3>{% endifchanged %}
	        <div data-id="{{ lab.id }}" class="lab">
		
		        <h4>
			        <span class="lab-name">{{ lab.classroom.name }}</span>
			        <span class="lab-date"><span class="day">{{ lab.day }}</span> <span class="hour">{{ lab.hour.start.humanized }} - {{ lab.hour.end.humanized }}</span></span>
			        <span class="edit enabled">
				        <span>Επεξεργασία</span>
				        <div class="edit-widget">
				            {% if lab.sibling_labs.owners %}
					            <span class="description">Μετακίνηση σε δικό μου</span>
					            <ul class="transfer">
						        {% for s in lab.sibling_labs.owners %}
							        <li data-id="{{ s.id }}"><span class="name">{{ s.name }}</span> &ndash; <span class="day">{{ s.day }}</span>(<span class="hour">{{ s.hour.start.raw }}-{{ s.hour.end.raw }}</span>) &ndash; <span class="subscribed-students"><strong>{{ s.students.registered }}/{{ s.students.max }}</strong></span></li>
						        {% endfor %}
						        </ul>
						    {% endif %}
						    {% if lab.sibling_labs.others %}
						        <span class="description">Μετακίνηση σε συνεργάτη</span>
					            <ul class="transfer">
						        {% for s in lab.sibling_labs.others %}
							        <li data-id="{{ s.id }}"><span class="name">{{ s.name }}</span> &ndash; <span class="day">{{ s.day }}</span>(<span class="hour">{{ s.hour.start.raw }}-{{ s.hour.end.raw }}</span>) &ndash; <span class="subscribed-students"><strong>{{ s.students.registered }}/{{ s.students.max }}</strong></span></li>
						        {% endfor %}
						        </ul>
						    {% endif %}
					    </div>
			        </span>
			    </h4>
		        <table>
			        <thead>
				        <tr>
					        <th class="selection" abbr="Selections" scope="col">#</th>
					        <th abbr="Last Name" scope="col">Επώνυμο</th>
					        <th abbr="First Name" scope="col">Όνομα</th>
					        <th class="am" abbr="AM" scope="col">Αριθμός Μητρώου</th>
				        </tr>
			        </thead>
			        <tbody>				
			        {% for student in lab.students %}
				        <tr title="{{student.last}} {{student.first}}">
					        <td><input type="checkbox" data-id="{{ student.id }}" data-subscription_id="{{ student.subscription_id }}" value="{{ student.am }}"></td>
					        <td>{{ student.last|truncatechars:18 }}</td>
					        <td>{{ student.first|truncatechars:18 }}</td>
					        <td class="am">{{ student.am }}</td>
				        </tr>
			        {% endfor %}
			        </tbody>
		        </table>
		        <div class="extras">
			        {% if lab.empty_seats >= 1 %}
			        <p><span class="empty-seats number">{{ lab.empty_seats }}</span><span class="empty-seats">Ελεύθερ{{ lab.empty_seats|pluralize:"η,ες" }} Θέσ{{ lab.empty_seats|pluralize:"η,εις" }}</span></p>
			        {% endif %}
			        {% if lab.empty_seats == 0 %}
			        <p><span class="empty-seats no-seat">Συμπληρώθηκε</span></p>
			        {% endif %}
		        </div>
		    </div>
    		{% endif %}	    
		{% endfor %}
	{% else %}
		{% comment %}
		<p>Δεν έχετε προσθέσει τα εργαστήρια σας στο Διογένη.</p>
		{% endcomment %}
	{% endif %}
</div>

{% endblock content %}


