{% extends "base.html" %}

{% block extra_css %}
	<link rel="stylesheet" href="/media/student-ui.css">
	<link rel="stylesheet" href="/media/modal.css">
{% endblock %}

{% block sidebar %}
<div id="sidebar">
	<a id="add-lab" class="button important" href="#">Προσθήκη Εργαστηρίου</a>
	<ul id="navigation">
		<li><a class="first last active black_board" href="/students/{{ user.username }}/">Δηλωμένα Εργαστήρια</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}
	{% block modal_box %}
	<div id="osx-modal-content">
		<div id="osx-modal-title">Προσθήκη Εργαστηρίου</div>
		<div class="close"><a href="#" class="simplemodal-close">x</a></div>
		<div id="osx-modal-data">
			<ol id="lab-registration">
				<li id="select-lesson" class="focused">
					<h3>1</h3>
					<label for="lesson-name">Επιλέξτε Μάθημα</label>
					<select id="lesson-name" class="lesson-name" name="lesson-name">
						<option value="">Όνομα Μαθήματος</option>
						{% for r in unique_lessons %}
							<option value="{{ r.name }}">{{ r.name }}</option>
						{% endfor %}
					</select>
				</li>
				<li id="select-teacher">
					<h3>2</h3>
					<label for="lesson-teacher">Επιλέξτε Καθηγητή</label>
					<select id="lesson-teacher" class="lesson-teacher" name="lesson-teacher">
						<option value="">Επιλέξτε Καθηγητή</option>
					</select>
				</li>
				<li id="select-class">
					<h3>3</h3>
					<label for="lesson-class">Επιλέξτε Αίθουσα</label>
					<select class="lesson-class no-slider" name="lesson-class">
						<option value="">Επιλέξτε Αίθουσα</option>
					</select>
				</li>
			</ol>
			
			
			<div id="modal-messages">
				<img id="modal-loader" src="/media/img/loader.gif" alt="" />
				<p>Badoo</p>
			</div>
			<ul class="modal-controls">
				<li><button class="simplemodal-close">Ακύρωση</button></li>
				<li><a id="submit-lab" class="button important" href="#">Υποβολή</a><li>
			</ul>
		</div>
	</div>
	{% endblock %}
{% endblock %}

{% block extra_js_bottom %}
	{% spaceless %}

	{{ block.super }}
	<script type="text/javascript" src="/media/js/modal/jquery.simplemodal.js"></script>
	<script type="text/javascript" src="/media/js/modal/osx.js"></script>
	<script type="text/javascript" src="/media/js/jquery.json-2.2.min.js"></script>
	
	<script type="text/javascript" src="/media/js/core.students.lab.register.js"></script>
	<script type="text/javascript" src="/media/js/student-labs-gui.js"></script>
	
	{% endspaceless %}
{% endblock %}
