{% extends "students/base.html" %}

{% block content %}

<div id="content" class="logged">
	{{ block.super }}
	{% if subscriptions %}
		<dl class="labs">
		{% for subscription in subscriptions %}
			<dt>
			    {{ subscription.lesson }}
			    {% if subscription.absences.value %}
			        <span class="absences {{subscription.absences.importance}}">
			        {{subscription.absences.value}} Απουσί{{ subscription.absences.value|pluralize:"α,ες" }}
			        </span>
			    {% endif %}
			 </dt>
			<dd>
				<span class="lab-name">{{ subscription.classroom }}</span>
				<span class="lab-date">{{ subscription.day }} {{ subscription.hour.start.humanized }} - {{ subscription.hour.end.humanized }}</span>
				<span class="teacher-name">{{ subscription.teacher }}</span>
			</dd>
		{% endfor %}
		</dl>
	{% else %}
	<div id="ui-messages">
		<p class="warning">Δεν έχετε προσθέσει τα εργαστήρια σας στον Διογένη</p>
	</div>
	{% endif %}
</div>

{% endblock content %}
