{% extends "base.html" %}

{% block alerts %}
	{% spaceless %}
	
	{% if messages %}
		<div id="ui-messages">
		{% for message in messages %}
			{% if message.status == 1 %}
				<p class="ok">
			{% endif %}
			{% if message.status == 2 %}
				<p class="error">
			{% endif %}
			{% if message.status == 3 %}
				<p class="warning">
			{% endif %}
			
			{{ message.msg }}</p>
		{% endfor %}
		</div>
	{% endif %}
	
	{% endspaceless %}
{% endblock %}

{% block content %}
<div id="content" class="not-logged">
	{% if form %}
		<form action="/signup/" method="POST">
			{% for field in form %}
				{{ field.label.tag }} {{ field }}
			{% endfor %}
			{% csrf_token %}
			<input type="submit" class="button important regular" value="Εγγραφή" />
		</form>
	{% endif %}
</div>
{% endblock content %}
