#sidebar #new-teacher               { margin: 0 0 0 70px; width: 152px; }
#sidebar #new-classroom             { margin: 0 0 0 69px; }

#teachers, #classrooms              { width: 640px; }

#classrooms li.classroom span>input {
                                    width: 240px;
                                    padding: 5px;
                                    background: #141414; color: #fdfdfd;
                                    border: solid 2px #FFE27B;
                                    font: 16px/1 Consolas,Lucida Console,Monaco;
                                    text-shadow: 1px 1px 1px #000;
                                    
                                    -moz-box-shadow: 	-1px -1px 0 #ffe27b, 1px 1px 0 #ffe27b, 0 -1px 0 #ffe27b, -1px 0 0 #ffe27b,
		                                                -2px -2px 0 #fcfcfc, 2px 2px 0 #fcfcfc, 0 -2px 0 #fcfcfc, -2px 0 0 #fcfcfc;
		                            -webkit-box-shadow: -1px -1px 0 #ffe27b, 1px 1px 0 #ffe27b, 0 -1px 0 #ffe27b, -1px 0 0 #ffe27b,
		                                                -2px -2px 0 #fcfcfc, 2px 2px 0 #fcfcfc, 0 -2px 0 #fcfcfc, -2px 0 0 #fcfcfc;
		                            box-shadow: 		-1px -1px 0 #ffe27b, 1px 1px 0 #ffe27b, 0 -1px 0 #ffe27b, -1px 0 0 #ffe27b,
		                                                -2px -2px 0 #fcfcfc, 2px 2px 0 #fcfcfc, 0 -2px 0 #fcfcfc, -2px 0 0 #fcfcfc;
		                            
		                            -moz-border-radius: 3px;
		                            -webkit-border-radius: 3px;
		                            border-radius: 3px;
		                            
		                            -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
                                    }
                                    
#teachers div.details               {
                                    display: none; overflow: hidden;
                                    margin: 14px 0 0 0; padding: 8px 0 8px 7px;
                                    background: transparent url("./img/stripe_bg.png") top left repeat;
                                    border-top: solid 1px #E1B000;
                                    -moz-box-shadow: 	0 1px 1px #fcfcfc inset;
		                            -webkit-box-shadow: 0 1px 1px #fcfcfc inset;
		                            box-shadow: 		0 1px 1px #fcfcfc inset;
                                    }
     
#teachers div.details span.group                        { display:block; overflow:hidden; }    
#teachers div.details span.group>div:first-child        { margin-right: 12px; }                   

#teachers div.details div.entry                                 { float: left; }

#teachers div.details div.entry.select-courses                  { padding-bottom: 111px; }
#teachers div.details div.entry.input-password label.as-link    { margin: 25px 0 0 47px; text-decoration: underline; }

#teachers div.details label                             {
                                                        display: block;
                                                        margin: 0 0 6px 0;
                                                        font-size: 12px;
                                                        color: #8C6E00;
                                                        text-shadow: 1px 1px 0 #fcfcfc;
                                                        }
#teachers div.details label:hover,
#teachers div.details label:focus                       { cursor: pointer; color: #141414; }


#teachers div.entry>input[type="text"],
#teachers div.entry>input[type="password"]              {
                                                        margin: 0 0 9px 0; padding: 5px;
                                                        border: solid 1px #8C6E00;
                                                        font: 13px/1 Verdana, sans-serif;
                                                        color: #999;
                                                        
                                                        -moz-border-radius: 3px;
		                                                -webkit-border-radius: 3px;
		                                                border-radius: 3px;
		                                                }
                                                        
#teachers div.entry>input[type="text"]:focus,
#teachers div.entry>input[type="password"]:focus        { border-color: #141414; color:#141414; }

#teachers div.details div.entry.active label            { color:#141414; }
#teachers div.details div.entry.active input            {
                                                        border-color:#141414;
                                                        color:#141414;
                                                        
                                                        -moz-box-shadow: 0 1px 4px #ddd inset, 0 1px 0 #fff inset;
								                        -webkit-box-shadow: 0 1px 4px #ddd inset, 0 1px 0 #fff inset;
								                        box-shadow: 0 1px 4px #ddd inset, 0 1px 0 #fff inset;
                                                        }

