{% extends "system/base.html" %}

{% block cpanel-active %}active{% endblock %}
{% block content %}

<div id="content" class="logged">
	<div id="ui-messages">
		{% if message %}
			{% if message.status == 1 %}
				<p class="ok">{{ message.msg }}</p>
			{% endif %}
			{% if message.status == 2 %}
				<p class="error">{{ message.msg }}</p>
			{% endif %}
			{% if message.status == 3 %}
				<p class="warning">{{ message.msg }}</p>
			{% endif %}
		{% else %}
			<p>Κονσόλα Μηνυμάτων</p>
		{% endif %}
	</div>
	<div id="admin-options">
		{% if form %}
		<div>
			<h3>Excel Νέου Τμήματος</h3>
			<form action="/system/admin/" enctype="multipart/form-data" method="POST">
				{{ form.as_p }}
				{% csrf_token %}
				<input type="submit" value="Upload" />
			</form>
		</div>
		{% endif %}
		<div>
			<h3>Τμήματα σε Λειτουργία</h3>
			<ul>
				<li>Πληροφορική</li>
				<li>Τουρίστες</li>
			</ul>
		</div>
		<div>
			<h3>Καθαρισμός Βάσης Δεδομένων</h3>
			<a class="button important warning" href="/system/clean_db/">Καθαρισμός</a>
			<span>Διαγραφή της βάσης δεδομένων για την προσθήκη των εργαστηρίων του νέου εξαμήνου.</span>
		</div>
	</div>
</div>

{% endblock content %}

{% block extra_js_bottom %}
	{% spaceless %}
	
	{{ block.super }}
	
	{% endspaceless %}
{% endblock %}

