/*

	#5690C7
	#FCFCFC
	#141414
	#949494
	#FFF1BF

*/

div.logged dl.labs {
	float: left; width: 640px;
	margin: 16px 0 25px 16px;
}

	dl.labs dt {
		float: left; display: block; width: 628px;
		padding: 12px 0 12px 12px;
		font: bold 14px/1 'Droid Sans', Verdana;
		background: #a5a5a5; color: #fcfcfc;
		border: solid 1px #949494; border-right: solid 1px #949494;
	}
	
	dl.labs dt:first-child {
		border-radius: 7px 7px 0 0;
		-moz-border-radius: 7px 7px 0 0;
		-webkit-border-radius: 7px 7px 0 0;
	}
	
	dl.labs dd {
		float: left; width: 642px;
		font: normal 13px 'Droid Sans', Verdana;
		letter-spacing: 0.08em; word-spacing: 0.05em;
		color: #696969; background: #e9e9e9;
		border-right: 0; border-left: 0;
		border-color: #e0e0e0 #aaa #aaa #aaa;
		text-shadow: 1px 1px 1px #fcfcfc;
		box-shadow: 0 0 8px #aaa inset;
		
		-moz-box-shadow: 0 0 8px #aaa inset;
		-webkit-box-shadow: 0 0 8px #aaa inset;
	}
	
	dl.labs dd span {
		float: left; width: 195px;
		padding: 8px 0 8px 12px;
		border-right: solid 1px #b3b3b3;
	}
	dl.labs dd span.teacher-name { width: 200px; border-right: 0; text-align: center; }
	
	dl.labs dd:last-child {
		border-radius: 0 0 7px 7px;
		-moz-border-radius: 0 0 7px 7px;
		-webkit-border-radius: 0 0 7px 7px;
	}
