html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
/* remember to define focus styles! */
:focus {outline: 0;}
::-moz-focus-inner {border: 0;}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*

	#5690C7
	#FCFCFC
	#141414
	#949494
	#FFF1BF

*/

@font-face {
	font-family: 'Droid Sans';
	src: url('/static/font/droidsans.eot?d2db48263414');
	src: local('☺'), url('/static/font/droidsans.woff?d2db48263414') format('woff'), url('/static/font/droidsans.ttf?d2db48263414') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Droid Sans Bold';
	src: url('/static/font/droidsans-bold.eot?d2db48263414');
	src: local('☺'), url('/static/font/droidsans-bold.woff?d2db48263414') format('woff'), url('/static/font/droidsans-bold.ttf?d2db48263414') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body { background: #f4f4d6 url('/static/img/background.png?d2db48263414') top left repeat; font-family: Verdana, Arial, Helvetica, sans-serif; }
body.wait { cursor: wait !important; }
a { text-decoration: none; }

#container1, #container2 { width: 100%; }
#header, #main	{ width: 980px; margin: 0 auto; }

#container1 {
	height: 47px; position: fixed; top: 0; left: 0; z-index: 5; background: #141414 url('/static/img/header_bg.png?d2db48263414') top left repeat-x;
	
	-moz-box-shadow: 	0 1px 3px #333, 0 0 10px #949494;
	-webkit-box-shadow: 0 1px 3px #333, 0 0 10px #949494;
	box-shadow: 		0 1px 3px #333, 0 0 10px #949494;
}
#container2 { padding-top: 70px; }

#header { height: 43px; }

	#header h1 {
		float: left; width: 188px; height: 38px;
		padding: 5px 0 0 0;
		background: url('/static/img/diogenis_logo.png?d2db48263414') -2px 2px no-repeat;
		font: normal 30px/1 'Droid Sans Bold', Verdana;
		letter-spacing: -0.03em; word-spacing: 0.05em;
		color: #e0e0e0; text-shadow: 1px 1px 1px #5b5b5b;
		text-indent: -3333px;
		
	}

	#header #login {
		width: 300px; height: 100%; float: right; position: relative; 
	}
		
		#login a.options-panel:link, #login a.options-panel:visited  {
			min-width: 50px; height: 30px; display: block; float: right;
			padding: 13px 13px 0 13px;
			font: normal 14px/1 Verdana, Arial, Helvetica, sans-serif; text-align: center; letter-spacing: 0.03em; word-spacing: 0.05em;
			color: #949494;
		}

		#login a.options-panel:hover, #login a.options-panel:focus  {
			background: #363636; background: rgba(54, 54, 54, 0.8); color: #e0e0e0;
		}

		#login.active a.options-panel {
			background: #474747; background: rgba(71, 71, 71, 0.7); color: #e0e0e0; text-shadow: 0 -1px 1px #000;
		}
		
		#login div.panel {
			width: 220px; position: absolute; top: 43px; right: 0; float: left; display: block;
			background: #474747; background: rgba(71, 71, 71, 0.7);
			
			-moz-border-radius: 	0 0 4px 4px;
			-webkit-border-radius: 	0 0 4px 4px;
			border-radius: 			0 0 4px 4px;
		}

			#login div.panel form, #login div.panel ul {
			
				margin: 8px; padding: 10px 0 10px 0;
				background: #e0e0e0;
				border: solid 1px #f4f4f4;
			
				-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
			}

			#login label, #login input { display: block; }
		
			#login label {
				margin: 0 0 0 8px;
				font: normal 12px/1 Verdana, Arial, Helvetica, sans-serif; letter-spacing: 0.05em;
				color: #474747;
			}
			#login label:hover { cursor: pointer; }
			
			#login input[type='text'], #login input[type='password'] {
				width: 180px;
				margin: 8px 0 11px 8px; padding: 3px 2px;
				background: #fafafa; color: #474747;
				border: solid 1px #949494;
				
				-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
			}
			#login input[type='text']:focus, #login input[type='password']:focus {
				background: #fff; color: #141414;
				border: solid 1px #474747;
			}
			
			#login input[type='submit']{
				width: 186px;
				margin: 17px 0 0 8px; padding: 6px 5px 7px 5px;
			}
			
			#login label.remember, #login input.remember { width: auto; display: inline; vertical-align: middle; }
			
			#login div.panel li a:link, #login div.panel li a:visited {
				display: block; padding: 5px 7px 8px 8px; margin: 0 8px;
				font: normal 13px/1 Verdana, Arial, Helvetica, sans-serif; letter-spacing: 0.05em;
				color: #474747;
				
				-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
			}
			#login div.panel li a:hover, #login div.panel li a:focus {
				color: #fff; background: #adadad;
				text-shadow: 0 1px 1px #696969;
			}

#main {
	overflow: hidden; clear: both;
	margin-bottom: 50px;
}

#sidebar {
	float: left; width: 297px; overflow: hidden;
	padding: 40px 0 0 0;
	background: #e9e9e9; border: solid 1px #c3c3c3;
	
	-moz-border-radius: 7px 0 0 7px;
	-webkit-border-radius: 7px 0 0 7px;
	border-radius: 7px 0 0 7px;
}

	#sidebar #add-lab { margin: 0 0 0 58px; }
	#sidebar #navigation { 
		width: 300px; overflow: hidden; position: fixed; z-index: 3;
		padding: 0 0 25px 0;
		background: #FAFAFA;
		border: solid 1px #aaa; border-right: 0;
		
		-moz-box-shadow: 3px 0 8px #bbb; -webkit-box-shadow: 3px 0 8px #bbb; box-shadow: 3px 0 8px #bbb;
	}
	
		#navigation li { float: left; margin: 10px 11px 0 25px; }
		#navigation li:first-child { margin-top: 25px }
		#navigation a {
			width: 194px; float: left; position: relative;
			padding: 13px 0 15px 49px;
			font: normal 14px/1 Verdana, Arial, Helvetica, sans-serif;
			letter-spacing: 0.04em; word-spacing: 0.08em;
			background-repeat: no-repeat;
			background-position: 8px 5px;
			
			-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
			-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
		}
	
		#navigation a:link, #navigation a:visited {
			background: #e9e9e9; color: #616161;
			border: solid 1px #949494;
		
			-moz-box-shadow: 0 1px 1px #fcfcfc; -webkit-box-shadow: 0 1px 1px #fcfcfc; box-shadow: 0 1px 1px #fcfcfc;
		}
		#navigation a:hover, #navigation a:focus {
			color: #fcfcfc; background: #addfe2 url('/static/img/sidebar_options.png?d2db48263414') 0 -91px repeat-x; 
			border: solid 1px #141414;
			text-shadow: 1px 1px 1px #000;
			
			-moz-box-shadow: 0 0 3px #fcfcfc inset; -webkit-box-shadow: 0 0 3px #fcfcfc inset; box-shadow: 0 0 3px #fcfcfc inset;
		}

		#navigation a.active, #navigation a.active:hover, #navigation a.active:focus {
			color: #326596; background: #afcbe5 url('/static/img/sidebar_options.png?d2db48263414') 0 0 repeat-x;
			border: solid 1px #5690C7;
			text-shadow: 1px 1px 0 #fcfcfc;
			-moz-box-shadow: 0 0 3px #fcfcfc inset; -webkit-box-shadow: 0 0 3px #fcfcfc inset; box-shadow: 0 0 3px #fcfcfc inset;
		}
		
		#navigation a>img { position: absolute; top: 5px; left: 8px; }


#content {
	display:block; float: left; position: relative; z-index: 4;
	padding-bottom: 50px;
	
	
}
div.not-logged {
	width: 978px;
	background: #fafafa; background: rgba(250, 250, 250, 0.7);
	border: solid 1px #E6DB55;
	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

    div.not-logged div.box { float: left; margin: 22px 24px 0 24px; }
    
    div.not-logged div.box h2 {
        display: block;
        margin: 0 0 11px 0;
        color: #9C9217;
        font: normal 19px/1 Verdana,Arial,Helvetica,sans-serif;
        text-shadow: 1px 1px 1px #FCFCFC;
    }
    div.not-logged div.box p { color: #444; font: normal 15px/1.44 Verdana,Arial,Helvetica,sans-serif; }
    div.not-logged div.box p.new { margin-top:11px; }
    
    div.not-logged h2.decoration {
		position: absolute; top: -22px; right: -15px; z-index: -1;
		font: bold 133px/1 Helvetica,sans-serif;
		/*letter-spacing: 0.04em;*/
		color: #EDEDBB;
		
		text-shadow: 1px 1px 0 #E6DB55, 2px 2px 1px #fff;
	}
	
div.logged {
	width: 680px; min-height: 450px;
	background: #fafafa;
	border: solid 1px #E6DB55; border-left: 0;
	
	-moz-border-radius: 0 7px 7px 0;
	-webkit-border-radius: 0 7px 7px 0;
	border-radius: 0 7px 7px 0;

}			
	div.logged h2 {
		float: left; display: inline;
		margin: 16px 0 18px 19px; padding: 11px 14px 10px 14px;
		font: normal 25px/1 'Droid Sans', Verdana;
		letter-spacing: 0.04em; word-spacing: 0.08em;
		color: #5690c7; background: #fcfcfc;
		border: solid 1px #e0e0e0;
	}
	
	
	/********************************^
	//Index Promo
	//^*****************************/
	
	#promo 						{ overflow:hidden; margin: 0 0 40px 0; }
	#promo>li:first-child		{ margin: 0; }
	#promo>li 					{
								display: inline; float: left;
								margin: 0 0 0 73px;
								border: solid 8px #dedede; border: solid 8px rgba(0,0,0,0.1);
							
								-moz-border-radius: 14px;
								-webkit-border-radius: 14px;
								border-radius: 14px;
								}
	#promo>li:hover 			{ border-color: #bbb; border-color: rgba(0,0,0,0.25); }
	#promo>li:hover div			{ border-color: #949494; }
	#promo>li:hover em			{ color: #5690C7; }
	#promo>li div				{
								width: 260px; height: 83px; position: relative; /*#### to ypsos eksartatai apo to padding-top, ola mazi prepei na einai 260px ####*/
								padding: 177px 0 0 0;
								background: #f3f3f3;
								border: solid 1px #bbb;
							
								-moz-border-radius: 6px;
								-webkit-border-radius: 6px;
								border-radius: 6px;
								-moz-box-shadow: 0 0 5px #fff inset;
								-webkit-box-shadow: 0 0 5px #fff inset;
								box-shadow: 0 0 5px #fff inset;
								
								}
	#promo>li img				{ display: block; position: absolute; top: 27px; margin: 0 0 0 64px; }
	#promo>li:first-child img 	{ margin-left: 52px; }
	#promo>li p					{	
								font: normal 15px/1 Verdana,Arial,Helvetica,sans-serif;
								color: #949494;
								text-align: center; text-shadow: 1px 1px 1px #fcfcfc;
								}
	#promo>li em				{	
								display: block; margin: 0 0 11px 0;
								font: normal 25px/1 Verdana,Arial,Helvetica,sans-serif;
								color: #555;
								text-shadow: 1px 1px 0 #fff;
								}
	
	/********************************^
	//Signup Login Forms
	//^*****************************/
	
	#user						        {
	                                    width: 233px;
	                                    margin: 22px 24px 44px 24px;
	                                    }
	
	#user button,
	#user input[type="submit"]          { position: absolute; bottom: 22px; left: 24px; margin: 11px 0 0 0; width: 111px; }
	#user button:active,
	#user input[type="submit"]:active	{ position: absolute; top: auto; bottom: 21px; }
	
	#user label, #user h4		        {
								        display: block;
								        margin: 0 0 11px 0;
								        font: 19px/1 Verdana, Arial, Helvetica, sans-serif;
								        color: #9c9217;
								        text-shadow: 1px 1px 1px #fcfcfc;
								
								        -webkit-transition: color 0.1s ease-out;  /* Saf3.2+, Chrome */
								        -moz-transition: color 0.1s ease-out;  /* FF4+ */
								        -o-transition: color 0.1s ease-out;  /* Opera 10.5+ */
								        }
	#user label:hover			        { cursor: pointer; }
	#user .entry                        { width: 100%; position: relative; }
	#user .entry.active label	        { color: #444; }
	#user .entry>input[type="text"],
	#user .entry>input[type="password"] {
								        display: block; width: 100%;
								        margin: 0 0 22px 0; padding: 5px 9px 5px 9px;
								        font: 20px/1 Consolas, Lucida Console, Monaco;
								        color: #9c9217;
								        border: solid 2px #E6DB55;
								
								        -moz-border-radius: 5px;
								        -webkit-border-radius: 5px;
								        border-radius: 5px;
								
								        -webkit-transition: border-color 0.2s ease-out, color 0.2s ease-out;  /* Saf3.2+, Chrome */
								        -moz-transition: border-color 0.2s ease-out, color 0.2s ease-out;  /* FF4+ */
								        -o-transition: border-color 0.2s ease-out, color 0.2s ease-out;  /* Opera 10.5+ */
                  						transition: border-color 0.2s ease-out, color 0.2s ease-out;
								
								        -webkit-box-shadow: 1px 1px 1px #fff inset, -1px -1px 1px #fff inset, 1px 1px 2px #bbb inset, -1px -1px 2px #bbb inset;
								        -moz-box-shadow: 1px 1px 1px #fff inset, -1px -1px 1px #fff inset, 1px 1px 2px #bbb inset, -1px -1px 2px #bbb inset;
								        box-shadow: 1px 1px 1px #fff inset, -1px -1px 1px #fff inset, 1px 1px 2px #bbb inset, -1px -1px 2px #bbb inset;
								        }
	#user .entry>input:hover	        {
								        border-color: #9c9217;
								        }
	#user .entry>input:focus	        {
								        color: #141414;
								        border-color: #444;
								        }
	
	.entry>input[type="checkbox"]       {
	                                    position: absolute; top: 2px; right: 22px;
                                        }
                                        
    #user ul.credentials                { font: normal 11px/1.8 Verdana, Arial, Helvetica, sans-serif; color: #777; }
    #user ul.credentials li             { width: 360px; position: relative; display: block; border: solid 1px #fff; border-top-color: #ddd; border-left:0; border-right:0; }
    #user ul.credentials li:first-child { border-top:0; }
    #user ul.credentials li:last-child  { border-bottom:0; }
    #user ul.credentials li>span        { width: 400px; position: absolute; left: 133px; }


/*

	#5690C7
	#FCFCFC
	#141414
	#949494
	#FFF1BF

*/
/********************************^
//Pretty CSS3 buttons
//^*****************************/	

.button { display: inline-block; font: normal 13px/1 'Droid Sans Bold', Verdana; text-align: center; }

	.button.important {
		padding: 11px 9px 12px 10px;
		color: #FCFCFC;
		word-spacing: 0.2em; /*letter-spacing: 0.04em;*/
		
		-moz-border-radius: 	5px;
		-webkit-border-radius: 	5px;
		border-radius: 			5px;
		
		-moz-box-shadow: 	0 1px 1px #fff, 0 0 3px #fff inset;
		-webkit-box-shadow: 0 1px 1px #fff, 0 0 3px #fff inset;
		box-shadow: 		0 1px 1px #fff, 0 0 3px #fff inset;
	}
	
	:active.button.important {
		position: relative; top: 1px;
		border: solid 1px #fff;
	}
	
	/********************************^
	//Blue Button
	//^*****************************/
	.button.regular {
		background: #5690C7;
		border: solid 1px #3e7fbd;
		text-shadow: #214363 0 1px 1px;
		
		background: -webkit-gradient(linear, left top, left bottom, from(#70a1cf), to(#5690c7)); 
		background: -webkit-linear-gradient(top, #70a1cf, #5690c7); 
		background:    -moz-linear-gradient(top, #70a1cf, #5690c7); 
		background:     -ms-linear-gradient(top, #70a1cf, #5690c7); 
		background:      -o-linear-gradient(top, #70a1cf, #5690c7); 
		background:         linear-gradient(top, #70a1cf, #5690c7);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#70a1cf', EndColorStr='#5690c7');
	}
	:hover.button.regular, :focus.button.regular {
		background: -webkit-gradient(linear, left top, left bottom, from(#89b2d8), to(#5690c7)); 
		background: -webkit-linear-gradient(top, #89b2d8, #5690c7); 
		background:    -moz-linear-gradient(top, #89b2d8, #5690c7); 
		background:     -ms-linear-gradient(top, #89b2d8, #5690c7); 
		background:      -o-linear-gradient(top, #89b2d8, #5690c7); 
		background:         linear-gradient(top, #89b2d8, #5690c7);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#89b2d8', EndColorStr='#5690c7');
	}
	:active.button.regular {
		text-shadow: #326596 0 1px 0, #326596 0 -1px 0, #326596 1px 0 0, #326596 -1px 0 0;
		
		-moz-box-shadow: 	0 1px 0 #c3c3c3, 0 -1px 0 #c3c3c3, 1px 0 0 #c3c3c3, -1px 0 0 #c3c3c3, 0 0 10px #18324a inset;
		-webkit-box-shadow: 0 1px 0 #c3c3c3, 0 -1px 0 #c3c3c3, 1px 0 0 #c3c3c3, -1px 0 0 #c3c3c3, 0 0 10px #18324a inset;
		box-shadow: 		0 1px 0 #c3c3c3, 0 -1px 0 #c3c3c3, 1px 0 0 #c3c3c3, -1px 0 0 #c3c3c3, 0 0 10px #18324a inset;
	
	}
	
	/********************************^
	//Red Button
	//^*****************************/
	
	.button.warning {
		background: #DC0A09;
		border: solid 1px #AF080B;
		text-shadow: #141414 0 1px 1px;
	
	}
	:hover.button.warning, :focus.button.warning {
		background: #DC0A09;
	}
	:active.button.warning {
		text-shadow: #141414 0 0 2px;

		-moz-box-shadow: 	0 1px 0 #c3c3c3, 0 0 10px #141414 inset;
		-webkit-box-shadow: 0 1px 0 #c3c3c3, 0 0 10px #141414 inset;
		box-shadow: 		0 1px 0 #c3c3c3, 0 0 10px #141414 inset;
	}

/*

	#5690C7
	#FCFCFC
	#141414
	#949494
	#FFF1BF

*/
/********************************^
//Listed Buttons
//^*****************************/

ul.ui-options { overflow: hidden; }
	
	ul.ui-options>li { float: left; }
	
	ul.ui-options li:first-child a.listed {
		-moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px;
		-webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px;
		border-top-left-radius: 3px; border-bottom-left-radius: 3px;
		
		border-left: solid 1px #bbb
	}
	ul.ui-options li:last-child a.listed {
		-moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px;
		-webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px;
		border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	}
	
	ul.ui-options a.listed {
		padding: 6px;
		background: #efefef;
		font: normal 13px Arial, sans-serif;
		color: #141414;
		border: solid 1px #000;
		border-color: #ccc #bbb #a0a0a0 #ededed;
		
		background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#E3E3E3)); 
		background: -webkit-linear-gradient(top, #F9F9F9, #E3E3E3); 
		background:    -moz-linear-gradient(top, #F9F9F9, #E3E3E3); 
		background:     -ms-linear-gradient(top, #F9F9F9, #E3E3E3); 
		background:      -o-linear-gradient(top, #F9F9F9, #E3E3E3); 
		background:         linear-gradient(top, #F9F9F9, #E3E3E3);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F9F9F9', EndColorStr='#E3E3E3');
	}
	ul.ui-options a.stronger { font-weight: bold; }
	
	ul.ui-options a:hover.listed, ul.ui-options a:focus.listed { padding-left: 7px; border: solid 1px #a0a0a0; border-left: 0; color: #000; }
	ul.ui-options li:first-child a:hover.listed, ul.ui-options li:first-child a:focus.listed { padding-left: 6px; border: solid 1px #a0a0a0; }
	
	ul.ui-options a:active.listed {
		background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#F9F9F9)); 
		background: -webkit-linear-gradient(top, #EEEEEE, #F9F9F9); 
		background:    -moz-linear-gradient(top, #EEEEEE, #F9F9F9); 
		background:     -ms-linear-gradient(top, #EEEEEE, #F9F9F9); 
		background:      -o-linear-gradient(top, #EEEEEE, #F9F9F9); 
		background:         linear-gradient(top, #EEEEEE, #F9F9F9);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#EEEEEE', EndColorStr='#F9F9F9');
	}

/*

	#5690C7
	#FCFCFC
	#141414
	#949494
	#FFF1BF

*/
/********************************^
//UI for School Entries
//^*****************************/	

ul.ui-entries                       {
                                    float: left; min-width: 350px;
                                    margin: 16px 0 25px 19px;
                                    }

ul.ui-entries>li                    {
                                    display: block; overflow: hidden; position: relative; min-height: 42px;
                                    border: solid 1px #dfdfdf; border-color: transparent #dfdfdf transparent #dfdfdf;
                                    }

ul.ui-entries>li:first-child        { border-top: solid 1px #dfdfdf; }
ul.ui-entries>li:last-child         { border-bottom: solid 1px #dfdfdf; }
ul.ui-entries>li:nth-child(2n+2)    { background: #DCE9F4; }

ul.ui-entries>li>span               {
                                    display: block;
                                    margin: 13px 0 6px 10px;
                                    font: normal 16px/1 'Droid Sans', Verdana;
                                    color: #141414;
                                    }
                                    
ul.ui-entries ul.ui-options         {
                                    position:absolute; top: 6px; right: 6px;
                                    }
                                    
ul.ui-entries>li:hover,
ul.ui-entries>li.active             {
                                    background: #FFF1BF;
                                    border-color: #e1b000;

                                    background: -webkit-gradient(linear, left top, left bottom, from(#FFF1BF), to(#ffe68c)); 
		                            background: -webkit-linear-gradient(top, #FFF1BF, #ffe68c); 
		                            background:    -moz-linear-gradient(top, #FFF1BF, #ffe68c); 
		                            background:     -ms-linear-gradient(top, #FFF1BF, #ffe68c); 
		                            background:      -o-linear-gradient(top, #FFF1BF, #ffe68c); 
		                            background:         linear-gradient(top, #FFF1BF, #ffe68c);
		                            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFF1BF', EndColorStr='#ffe68c');
		                            
		                            -moz-box-shadow: 	0 1px 1px #fcfcfc inset, 1px 0 1px #fcfcfc inset, -1px 0 1px #fcfcfc inset, 0 -1px 1px #fcfcfc inset;
		                            -webkit-box-shadow: 0 1px 1px #fcfcfc inset, 1px 0 1px #fcfcfc inset, -1px 0 1px #fcfcfc inset, 0 -1px 1px #fcfcfc inset;
		                            box-shadow: 		0 1px 1px #fcfcfc inset, 1px 0 1px #fcfcfc inset, -1px 0 1px #fcfcfc inset, 0 -1px 1px #fcfcfc inset;
                                    }
ul.ui-entries>li:hover>span,
ul.ui-entries>li.active>span        { text-shadow: 1px 1px 1px #fcfcfc; }
ul.ui-entries>li.disabled           {
                                    background: #dfdfdf;
                                    border: 0;
                                    
                                    -moz-box-shadow: 	none;
		                            -webkit-box-shadow: none;
		                            box-shadow: 		none;
                                    }
/*

	#5690C7
	#FCFCFC
	#141414
	#949494
	#FFF1BF

*/
/********************************^
//UI for School single page categories
//^*****************************/	

ul.ui-categories {
	width: 640px; float: left;
	margin: 16px 0 25px 19px;
}


ul.ui-categories>li {
    display: block;
	padding: 16px 16px 27px 16px;
	background: #f0f0f0;
	border: solid 1px #ccc; border-color: #ededed #ddd #ddd #ddd;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fafafa)); 
    background: -webkit-linear-gradient(top, #f0f0f0, #fafafa); 
    background:    -moz-linear-gradient(top, #f0f0f0, #fafafa); 
    background:     -ms-linear-gradient(top, #f0f0f0, #fafafa); 
    background:      -o-linear-gradient(top, #f0f0f0, #fafafa); 
    background:         linear-gradient(top, #f0f0f0, #fafafa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f0f0f0', EndColorStr='#fafafa');
    
    -moz-box-shadow: 	0 1px 1px #fcfcfc inset, 1px 0 1px #fcfcfc inset, -1px 0 1px #fcfcfc inset, 0 -1px 1px #fcfcfc inset;
    -webkit-box-shadow: 0 1px 1px #fcfcfc inset, 1px 0 1px #fcfcfc inset, -1px 0 1px #fcfcfc inset, 0 -1px 1px #fcfcfc inset;
    box-shadow: 		0 1px 1px #fcfcfc inset, 1px 0 1px #fcfcfc inset, -1px 0 1px #fcfcfc inset, 0 -1px 1px #fcfcfc inset;
}
ul.ui-categories>li:first-child { border-top-color: #ddd; }

ul.ui-categories h3 {
    margin: 0 0 11px 0;
	font: normal 21px/1 'Droid Sans', Verdana;
	color: #949494;
	text-shadow: 1px 1px 1px #fff;
}
ul.ui-categories p {
    font: normal 12px/1 Verdana, Arial, Helvetica, sans-serif;
    color: #888;
    word-spacing: 0.02em; letter-spacing: 0.033em;
}
ul.ui-categories p.new { margin: 13px 0 0 0; }

/*

	#5690C7
	#FCFCFC
	#141414
	#949494
	#FFF1BF

*/
/********************************^
//Message Console
//^*****************************/	

#ui-messages					{ display: none; margin: 0 0 22px; }
div.logged #ui-messages 		{ display: block; float: left; width: 648px; margin: 35px 16px 22px 16px; }

	#ui-messages p {
		display: block; width: 500px; position: relative;
		margin: 0 auto; padding: 10px 12px 12px 12px;
		font: normal 14px Verdana, Arial, Helvetica, sans-serif;
		background: #e9e9e9; color: #949494;
		border: solid 1px #aaa;
		text-shadow: 1px -1px 0 #fff;
		
		background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e9e9e9)); 
        background: -webkit-linear-gradient(top, #f1f1f1, #e9e9e9); 
        background:    -moz-linear-gradient(top, #f1f1f1, #e9e9e9); 
        background:     -ms-linear-gradient(top, #f1f1f1, #e9e9e9); 
        background:      -o-linear-gradient(top, #f1f1f1, #e9e9e9); 
        background:         linear-gradient(top, #f1f1f1, #e9e9e9);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e9e9e9');
	    
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border-radius: 7px;
		
		-moz-box-shadow: 	0 -1px 1px #fcfcfc inset;
        -webkit-box-shadow: 0 -1px 1px #fcfcfc inset;
        box-shadow: 		0 -1px 1px #fcfcfc inset;
	}

	#ui-messages p.ok {
		padding: 10px 12px 12px 47px;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
		background: #D3F8D4 url('/static/img/ok_icon.png?d2db48263414') 6px 44% no-repeat; color: #333333;
		border: solid 1px #7ed082;
	}

		#ui-messages p.ok a {
			position: absolute; top: 6px; right: 7px;
			padding: 5px 7px 7px 24px;
			background: #555 url('/static/img/reload_icon_17x17.png?55e7616808f2') 4px 5px no-repeat; color: #fff;
			font: normal 11px Verdana, Arial, Helvetica, sans-serif;
			letter-spacing: 0.08em; text-align: center; text-shadow: none;
	
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}
		#ui-messages p.ok a:hover, #ui-messages p.ok a:focus { background-color: #333; }

	#ui-messages p.error{
		padding: 10px 12px 12px 47px;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
		background: #FFEBE8 url('/static/img/error_icon.png?d2db48263414') 6px 44% no-repeat; color: #333333;
		border: solid 1px #CC0000;		
	}

	#ui-messages p.warning{
		padding: 10px 12px 12px 47px;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
		background: #FFFFE0 url('/static/img/warning_icon.png?d2db48263414') 6px 44% no-repeat; color: #333333;
		border: solid 1px #c9bc1d;		
	}
		
		

.smoke-base {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all .3s;
  -webkit-transition: opacity .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.smoke-base.smoke-visible {
  opacity: 1;
  visibility: visible;
}

.smokebg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.smoke-base .dialog {}

.dialog-prompt {}

.dialog-buttons {}

.smoke {}

.dialog-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.dialog-prompt input {
  margin: 0;
  border: 0;
  font-family: sans-serif;
  outline: none;
  border: 1px solid #333;
  width: 97%;
  background-color: #fff;
  font-size: 15px;
  padding: 5px;
}
/*
.smoke-base {
  background: rgba(0,0,0,.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#900000000);
}
*/
.smoke-base .dialog {
  top: 25%;
  left: 25%;
  width: 50%;
}

.smoke-base .dialog-inner {
  padding: 15px
}

.smoke {}

.dialog-buttons button {}

button.cancel {}

.queue{
	display:none;
}

.smoke-base { 
	background: none; 
}

.smoke-base .dialog {
    position: absolute; top: 15%; left: 0;
    width: 100%;
}

.smoke-base .dialog-inner { 
	padding: 15px;
}

.smokebg { background: rgba(255,255,255,0.44); }

.smoke {
	font: normal 34px/1.4 'Droid Sans Bold', Verdana;
    color:#eee;
	text-shadow: 0 1px 1px #000; text-align: center;
	background: #3a3a3a;
	background: rgba(0,0,0,.75);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3a3a3a,endColorstr=#3a3a3a);
	border: solid 1px #000; border-right: 0; border-left: 0;
	
	-moz-box-shadow: 	0 0 7px #000 inset, 0 0 2px #000 inset;
	-webkit-box-shadow: 0 0 7px #000 inset, 0 0 2px #000 inset;
	box-shadow: 		0 0 7px #000 inset, 0 0 2px #000 inset;
}
.dialog-buttons {
	margin: 0px 0 5px 0;
}

.dialog-buttons button {
    margin:22px 10px 0 10px; padding: 8px 10px 9px 10px;
    font: normal 15px Verdana, Arial, Helvetica, sans-serif;
    text-shadow: none;
    color: #333;
    background: #ebebeb;
    border: solid 1px transparent;
    
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; 
	
	-moz-box-shadow: 	0 1px 2px #141414;
	-webkit-box-shadow: 0 1px 2px #141414;
	box-shadow: 		0 1px 2px #141414;
}

button.cancel { 
	background: #999; 
	color:#222;
}

.dialog-prompt{
	margin-top:0;
}
.dialog-prompt input{
	width:300px;
	text-align:center;
	background-color:#ccc;
}

/* @group Base */
select.chzn-select {
  visibility: hidden;
  height: 28px !important;
  min-height: 28px !important;
}
.chzn-container {
  font-size: 13px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
  -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
  -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
  box-shadow        : 0 4px 5px rgba(0,0,0,.15);
  z-index: 999;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  -webkit-border-radius: 4px;
  -moz-border-radius   : 4px;
  border-radius        : 4px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  border: 1px solid #aaa;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 8px;
  color: #444;
  text-decoration: none;
}
.chzn-container-single .chzn-single span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -moz-binding: url('/xml/ellipsis.xml#ellipsis?1fbfce270f59');
  text-overflow: ellipsis;
}
.chzn-container-single .chzn-single div {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius   : 0 4px 4px 0;
  border-radius        : 0 4px 4px 0;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
  background-image: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #cccccc 0%,#eeeeee 60%);
  border-left: 1px solid #aaa;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}
.chzn-container-single .chzn-single div b {
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat 0 1px;
  display: block;
  width: 100%;
  height: 100%;
}
.chzn-container-single .chzn-search {
  padding: 3px 4px;
  margin: 0;
  white-space: nowrap;
}
.chzn-container-single .chzn-search input {
  background: #fff url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat 100% -20px;
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat 100% -20px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat 100% -20px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat 100% -20px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat 100% -20px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat 100% -20px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat 100% -20px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat 100% -20px, linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #aaa;
  font-family: sans-serif;
  font-size: 1em;
}
.chzn-container-single .chzn-drop {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius   : 0 0 4px 4px;
  border-radius        : 0 0 4px 4px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
}
/* @end */

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background-image: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background-image: -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background-image: -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
}
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
  color: #666;
  background: transparent !important;
  border: 0 !important;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow   : none !important;
  box-shadow        : none !important;
}
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999;
}
.chzn-container-multi .chzn-choices .search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e4e4e4), color-stop(0.7, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -moz-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -o-linear-gradient(bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -ms-linear-gradient(top, #e4e4e4 0%,#eeeeee 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e4e4e4');
  background-image: linear-gradient(top, #e4e4e4 0%,#eeeeee 70%);
  color: #333;
  border: 1px solid #b4b4b4;
  line-height: 13px;
  padding: 3px 19px 5px 6px;
  margin: 3px 0 3px 5px;
  position: relative;
}
.chzn-container-multi .chzn-choices .search-choice span {
  cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 5px;
  top: 7px;
  width: 8px;
  height: 9px;
  font-size: 1px;
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') right top no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -9px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -9px;
}
/* @end */

/* @group Results */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  height:auto !important;
  max-height: 103px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
.chzn-container .chzn-results li {
  line-height: 80%;
  padding: 7px 7px 8px;
  margin: 0;
  list-style: none;
}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
}
.chzn-container .chzn-results .highlighted {
  background: #3875d7;
  color: #fff;
}
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
}
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}
.chzn-container .chzn-results .group-option {
  padding-left: 20px;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
/* @end */

/* @group Active  */
.chzn-container-active .chzn-single {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
  border: 1px solid #5897fb;
}
.chzn-container-active .chzn-single-with-drop {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow   : 0 1px 0 #fff inset;
  -o-box-shadow     : 0 1px 0 #fff inset;
  box-shadow        : 0 1px 0 #fff inset;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  -webkit-border-bottom-left-radius : 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft : 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius : 0;
  border-bottom-right-radius: 0;
}
.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 1px;
}
.chzn-container-active .chzn-choices {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
  border: 1px solid #5897fb;
}
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}
/* @end */

/* @group Right to Left */
.chzn-rtl { direction:rtl;text-align: right; }
.chzn-rtl .chzn-single { padding-left: 0; padding-right: 8px; }
.chzn-rtl .chzn-single span { margin-left: 26px; margin-right: 0; }
.chzn-rtl .chzn-single div { 
  left: 0; right: auto; 
  border-left: none; border-right: 1px solid #aaaaaa;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius   : 4px 0 0 4px;
  border-radius        : 4px 0 0 4px; 
}
.chzn-rtl .chzn-choices li { float: right; }
.chzn-rtl .chzn-choices .search-choice { padding: 3px 6px 3px 19px; margin: 3px 5px 3px 0; }
.chzn-rtl .chzn-choices .search-choice .search-choice-close { left: 5px; right: auto; background-position: right top;}
.chzn-rtl.chzn-container-single .chzn-results { margin-left: 4px; margin-right: 0; padding-left: 0; padding-right: 4px; }
.chzn-rtl .chzn-results .group-option { padding-left: 0; padding-right: 20px; }
.chzn-rtl.chzn-container-active .chzn-single-with-drop div { border-right: none; }
.chzn-rtl .chzn-search input {
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat -38px -20px, #ffffff;
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat -38px -20px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat -38px -20px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);  
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat -38px -20px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat -38px -20px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat -38px -20px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat -38px -20px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('/static/js/chosen/chosen-sprite.png?70037a6f3529') no-repeat -38px -20px, linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  padding: 4px 5px 4px 20px;
}
/* @end */

/*

	#5690C7
	#FCFCFC
	#141414
	#949494
	#FFF1BF

*/

div.logged dl.labs {
	float: left; width: 640px;
	margin: 16px 0 25px 19px;
}

	dl.labs dt {
		float: left; display: block; width: 628px; position: relative;
		padding: 12px 0 12px 12px;
		font: normal 14px/1 'Droid Sans Bold', Verdana;
		word-spacing: 0.15em;
		background: #a5a5a5; color: #fcfcfc;
		border: solid 1px #949494; border-right: solid 1px #949494;
	}
	
	dl.labs dt:first-child {
		-moz-border-radius: 7px 7px 0 0;
		-webkit-border-radius: 7px 7px 0 0;
		border-radius: 7px 7px 0 0;
	}
	
	dl.labs dt span.absences {
	    display: block; position: absolute; top: 6px; right: 8px;
	    padding: 5px 6px 6px 6px;
		background: #e9e9e9; border: solid 1px #999;
		font: normal 12px/1 Verdana, Arial, Helvetica, sans-serif;
		color: #777;
	    
	    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e9e9e9)); 
        background: -webkit-linear-gradient(top, #f1f1f1, #e9e9e9); 
        background:    -moz-linear-gradient(top, #f1f1f1, #e9e9e9); 
        background:     -ms-linear-gradient(top, #f1f1f1, #e9e9e9); 
        background:      -o-linear-gradient(top, #f1f1f1, #e9e9e9); 
        background:         linear-gradient(top, #f1f1f1, #e9e9e9);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e9e9e9');
        
        -moz-box-shadow: 	0 -1px 1px #fcfcfc inset;
        -webkit-box-shadow: 0 -1px 1px #fcfcfc inset;
        box-shadow: 		1px -1px 0 #ccc, 0 -1px 1px #fcfcfc inset;
        
        -moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	dl.labs dt span.absences.warning { color: #b51800; text-shadow: 1px 1px 0 #f3f3f3; }
	
	dl.labs dd {
		float: left; width: 642px;
		font: normal 13px 'Droid Sans', Verdana;
		letter-spacing: 0.08em; word-spacing: 0.05em;
		color: #696969; background: #e9e9e9;
		border-right: 0; border-left: 0;
		border-color: #e0e0e0 #aaa #aaa #aaa;
		text-shadow: 1px 1px 1px #fcfcfc;
		
		-moz-box-shadow: 0 0 8px #aaa inset;
		-webkit-box-shadow: 0 0 8px #aaa inset;
		box-shadow: 0 0 8px #aaa inset;
	}
	
	dl.labs dd span {
		float: left; width: 195px;
		padding: 8px 0 8px 12px;
		border-right: solid 1px #b3b3b3;
	}
	dl.labs dd span.teacher-name { width: 200px; border-right: 0; text-align: center; }
	
	dl.labs dd:last-child {
		-moz-border-radius: 0 0 7px 7px;
		-webkit-border-radius: 0 0 7px 7px;
		border-radius: 0 0 7px 7px;
	}

/*
 * SimpleModal OSX Style Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: osx.css 242 2010-03-14 00:55:02Z emartin24 $
 *
 */

#osx-modal-content 	{ display:none; }
#osx-modal-data 	{ display: block; }
/* Overlay */
#osx-overlay 		{ background-color: #474747; }

/* Container */
#osx-container {
	width: 600px; height: 530px;
	padding-bottom:4px;
	background-color:#eee;
	color:#000;
	font: 16px/24px "Lucida Grande",Arial,sans-serif;
	
	-moz-border-radius: 0 0 8px 8px; /* FF1+ */
	-webkit-border-radius: 0 0 8px 8px; /* Saf3+, Chrome */
	border-radius: 0 0 8px 8px; /* Opera 10.5, IE 9 */
	
	-moz-box-shadow: 0 -5px 35px #474747; /* FF3.5+ */
	-webkit-box-shadow: 0 -5px 35px #474747; /* Saf3.0+, Chrome */
	box-shadow: 0 -5px 35px #474747; /* Opera 10.5, IE 9.0 */
}
#osx-container>a 				{color:#141414; font: normal 15px Verdana; border-bottom: 1px solid #141414; }
#osx-container #osx-modal-title {color:#777; background-color:#ddd; border-bottom:1px solid #ccc; font-weight:bold; padding:6px 8px 6px 12px; text-shadow:0 1px 0 #f4f4f4;}
#osx-container .close 			{display:none; position:absolute; right:0; top:0;}
#osx-container .close a 		{display:block; color:#777; font-weight:bold; padding:6px 12px 0; text-decoration:none; text-shadow:0 1px 0 #f4f4f4;}
#osx-container .close a:hover 	{color:#444;}
#osx-container #osx-modal-data 	{font-size:12px; padding:18px 18px;}
#osx-container h2 				{margin:10px 0 6px;}
#osx-container p 				{margin: 0 0 10px 10px;}
#osx-container span 			{color:#555;}


/********************************^
//Teacher Add-New-lab Styling
//^*****************************/	

#osx-modal-data h3 {
	display: inline; position: absolute; top: 15px; left: 25px;
	padding: 4px 6px;
	font: bold 37px/1.1 'Droid Sans', Verdana;
	color: #999; text-shadow: 1px 1px 0 #FCFCFC;
}

#osx-modal-data ul.modal-controls {
	position: absolute; bottom: 18px; right: 18px; overflow: hidden;
}
#osx-modal-data ul.modal-controls li { display: block; float: left; }
#osx-modal-data ul.modal-controls button { margin: 5px 11px 0 0; }
#osx-modal-data ul.modal-controls a {  }

#modal-messages { margin: 14px 0 0 0; }

	#modal-loader { display: block; position: relative; top:44px; margin: 0 auto; width:0px;  }
	#modal-messages p {
		display: block; width: 420px; position: relative;
		margin: 0 auto; padding: 10px 12px 12px 12px;
		font: normal 14px Verdana, Arial, Helvetica, sans-serif;
		background: #e9e9e9; color: #949494;
		border: solid 1px #aaa;
		text-shadow: 1px -1px 0 #fff;
		
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border-radius: 7px;
	}
	
	#modal-messages p.ok {
		padding: 10px 12px 12px 47px;
		background: #D3F8D4 url('/static/img/ok_icon.png?d2db48263414') 6px 44% no-repeat; color: #333;
		border: solid 1px #7ed082;
	}
	
		#modal-messages p.ok a {
			position: absolute; top: 6px; right: 7px;
			padding: 5px 7px 7px 24px;
			background: #555 url('/static/img/reload_icon_17x17.png?55e7616808f2') 4px 5px no-repeat; color: #fff;
			font: normal 11px Verdana, Arial, Helvetica, sans-serif;
			letter-spacing: 0.08em; text-align: center; text-shadow: none;
	
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}
		#modal-messages p.ok a:hover, #modal-messages p.ok a:focus { background-color: #333; }
		
	#modal-messages p.error{
		padding: 10px 12px 12px 47px;
		background: #FFEBE8 url('/static/img/error_icon.png?d2db48263414') 6px 44% no-repeat; color: #333;
		border: solid 1px #CC0000;		
	}
	
	#modal-messages p.warning{
		padding: 10px 12px 12px 47px;
		background: #FFFFE0 url('/static/img/warning_icon.png?d2db48263414') 6px 44% no-repeat; color: #333;
		border: solid 1px #E6DB55;		
	}

#lab-registration>li{
	display: block; position: relative;
	margin: 0 0 7px 0; padding: 25px 25px 25px 50px;
	border: 1px solid transparent;
	
	-moz-border-radius: 8px; /* FF1+ */
	-webkit-border-radius: 8px; /* Saf3+, Chrome */
	border-radius: 8px; /* Opera 10.5, IE 9 */
}
#lab-registration li.focused 					{ background: #d6e4f1; border: solid 1px #5690C7; }
#lab-registration li.focused h3 				{ color: #5690C7; cursor: default; }
#lab-registration li.isset.focused h3:hover 	{ color: #5690C7; cursor: default; }
#lab-registration li.isset h3:hover 			{ color: #666; cursor: pointer; text-shadow: 1px 1px 0 #fff; }
#lab-registration li.disabled h3:hover 			{ cursor: default; }



#osx-modal-data label { position: absolute; top: 15px; left: 15px; text-indent: -9999px; }

#osx-modal-data select {
	width: 370px; display: block;
	margin: 0 auto; padding: 5px 6px 6px 6px;
	font: normal 13px Verdana, Arial, Helvetica, sans-serif;
}

	/********************************^
	//Second Step Add-New-lab
	//^*****************************/

	#lab-registration #select-lab select 				{ display: inline; width: 160px; }
	#lab-registration #select-lab select.lesson-day 	{ width: 128px; margin-left: 58px; }
	#lab-registration span.ux-text {
		margin: 0 7px;
		font: normal 15px Verdana, Arial, Helvetica, sans-serif;
	}
	
	#lab-registration #select-lab select.lesson-hour-start { width: 128px; }
	#lab-registration #select-lab select.lesson-hour-end { width: 80px; }
	
	/********************************^
	//Third Add-New-lab
	//^*****************************/
	
	#lab-registration #select-class select.lesson-class{ margin-bottom: 25px; }
	#lab-registration #select-class select.lesson-class.no-slider{ margin-bottom: 0; }
	#lab-registration #select-class label.students-num {
		position: static;
		margin: 0 0 0 79px;
		text-indent: 0px;
	}
	#lab-registration #select-class #max-students {
		display: inline;
		border: 0; background: transparent;
		color: #222; font-weight: bold;
	}
	#slider-max-students { width: 330px; margin: 0 auto; }


















