{% extends "base.html" %}

{% block content %}
<div id="content" class="not-logged">
	<h2 class="decoration">Είσοδος</h2>
	<form id="user" method="POST" action="/login/">
	    <div class="entry">
		    <label for="login-username">Username</label>
		    <input type="text" name="login-username" id="login-username">
		</div>
		<div class="entry">
		    <label for="login-password">Password</label>
		    <input type="password" name="login-password" id="login-password">
		</div>
		<div class="entry">
		    <label class="remember" for="remember">Μείνε Συνδεμένος:</label>
		    <input type="checkbox" name="remember" id="remember" class="remember" value="true">
		</div>
		{% csrf_token %}
		<input class="button important regular" type="submit" value="Είσοδος">
	</form>
</div>
{% endblock content %}
