{% load compress %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="chrome=IE7">
		<title>{% block title %}{% endblock title %}Diogenis</title>
		<link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 
		
		{% compress css %}
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}reset.css" />
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}base.css" />
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}ui.base.css" />
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/smoke/smoke.css" />
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/smoke/themes/diogenis-100s.css" />
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/chosen/chosen.css" />
		{% block extra_css %}{% endblock %}
		{% endcompress %}
        <!--[if lt IE 9]>
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}ie-fallback.css" />
        <![endif]-->
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		{% block extra_js_top %}{% endblock %}

	</head>
	<body>
		<div id="container1">
			<div id="header">
			{% block header %}<a href="{% url index %}"><h1>diogenis</h1></a>{% endblock %}
				<div id="login">
					{% if user.is_authenticated %}
		    				<a href="#" class="options-panel">{{ user.username }}</a>
							<div class="panel">
								<ul>
								    {% block user_type_specific_actions %}{% endblock %}
									<li><a href="{% url logout %}">&crarr;&ensp;Έξοδος</a></li>
								</ul>
							</div>
					{% else %}
		    				<a href="#" class="options-panel">Είσοδος</a>
							<div class="panel">
								<form method="POST" action="/login/">
						  			<label for="username">Username</label>
									<input type="text" name="username" id="username">
									<label for="password">Password</label>
									<input type="password" name="password" id="password">
									<label class="remember" for="remember">Μείνε Συνδεμένος</label>
									<input type="checkbox" name="remember" id="remember" class="remember" value="true">
									<input class="button important regular" type="submit" value="Είσοδος">
									{% csrf_token %}
								</form>
							</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div id="container2">
			{% block alerts %}{% endblock %}
			<div id="main">
				{% block sidebar %}{% endblock %}
				{% block content %}{% endblock %}
			</div>
			{% block footer %}
		    <div id="footer">
		        <p>Επικοινωνήστε μαζί μας στο <a href="http://www.facebook.com/diogenis.teilar"><strong>facebook</strong></a> ή στείλτε μας ένα <a rel="http://diogenis.teilar.gr" id="footer-email" href="#"><strong>email</strong></a></p>
		        <hr>
		        <p>
		            <a href="{% url about %}">Ποιοί είμαστε</a>&ensp;<small>|</small>&ensp;
		            <a href="http://tsiokos.posterous.com/">Blog</a>&ensp;<small>|</small>&ensp;
		            <strong>powered by:</strong> <a href="http://linuxteam.teilar.gr/">linuxteam teilar</a>
		         </p>
		    </div>
			{% endblock %}
		</div>
		
		{% block before_compressed_js %}{% endblock %}
		
		{% compress js %}
		{% block extra_js_bottom %}
			
			<script type="text/javascript" src="{{ STATIC_URL }}js/diogenis/core.js"></script>
			<script type="text/javascript" src="{{ STATIC_URL }}js/handlebars-1.0.0.beta.2.js"></script>
			<script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
			<script type="text/javascript" src="{{ STATIC_URL }}js/jsonselect-0.2.1.js"></script>
			<script type="text/javascript" src="{{ STATIC_URL }}js/smoke/smoke.js"></script>
			
			<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ba-tinypubsub.min.js"></script>
			<script type="text/javascript" src="{{ STATIC_URL }}js/chosen/jquery.chosen.min.js"></script>
			
			<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo-1.4.2-min.js"></script>
			
			<script type="text/javascript" src="{{ STATIC_URL }}js/diogenis/core.components.layout.js"></script>
			<script type="text/javascript" src="{{ STATIC_URL }}js/diogenis/core.components.helpers.js"></script>
		    
		{% endblock %}
		{% endcompress %}
		
		{% block after_compressed_js %}
		    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.spin.js"></script>
		    <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-8669268-11']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
		{% endblock %}
	</body>
</html>
