<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>{% block title %}{% endblock title %}Diogenis</title>
		<link rel="stylesheet" href="/media/reset.css">
		<link rel="stylesheet" href="/media/style.css">
		<link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
		{% block extra_css %}{% endblock %}
		{% block extra_js_top %}{% endblock %}
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="/media/js/layout.js"></script>
		<script type="text/javascript">
		</script>

	</head>
	<body>
		<div id="container1">
			<div id="header">
			{% block header %}<h1>Diogenis</h1>{% endblock %}
				<div id="login">
					{% if user.is_authenticated %}
		    				<span class="username">{{ user.username }}</span><a href="/logout/">Έξοδος</a>
					{% else %}
		    				<a href="#">Είσοδος</a>
		    				<form method="POST" action="/login/">
				  			<label for="username">Username</label>
							<input type="text" name="username" id="username">
							<label for="password">Password</label>
							<input type="text" name="password" id="password">
							<label for="remember-me">Μείνε Συνδεμένος</label>
							<input type="checkbox" name="remember" id="remember" value="true">
							<input type="submit" value="Είσοδος">
						</form>
					{% endif %}
				</div>
			</div>
		</div>
		<div id="container2">
			<div id="main">
				{% block sidebar %}{% endblock %}
				{% block alerts %}
					{% if msg %}
						<p>{{ msg }}</p>
					{% endif %}
				{% endblock %}
				{% block content %}
				

				
				{% endblock %}
			</div>
			{% block footer %}{% endblock %}
		</div>
		{% block extra_js_bottom %}{% endblock %}
	</body>
</html>
