{% extends "base.html" %}

{% block alerts %}
	<div id="ui-messages">
	{% if message %}
			<p class="error">{{ message }}</p>
	{% endif %}
	</div>
{% endblock %}

{% block content %}
<ul id="promo">
	<li>
		<div>
			<img width="145" src="/media/img/students_promo.png" />
			<p><em>O φοιτητής</em> γλιτώνει από το ψάξιμο</p>
		</div>
	</li>
	<li>
		<div>
			<img width="130" src="/media/img/teachers_promo.png" />
			<p><em>Ο καθηγητής</em> κερδίζει χρόνο</p>
		</div>
	</li>
	<li>
		<div>
			<img width="135" src="/media/img/everyones_happy_promo.png" />
			<p><em>Όλοι</em> είναι ευχαριστημένοι</p>
		</div>
	</li>
</ul>
<div id="content" class="not-logged">
	<h2>Καλωσήρθατε στον <em>Διογένη</em></h2>
</div>
{% endblock content %}
