{% extends "schools/base.html" %}

{% block teachers-active %}active{% endblock %}

{% block action %}
<button id="new-teacher" class="button important regular">Νέος Καθηγητής</button>
{% endblock %}

{% block content %}

<div id="content" data-username="{{ user.username }}" class="logged">
	{{ block.super }}
	<div id="ui-messages" class="ui-messages">
	    <p>Κονσόλα Μηνυμάτων</p>
	</div>
	<ul id="teachers" class="ui-entries"></ul>
</div>

{% endblock content %}

{% block extra_js_bottom %}
	{% spaceless %}

	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/diogenis/core.schools.teachers.js"></script>
	
	{% endspaceless %}
{% endblock %}

{% block footer %}
    
    {% include "handlebars/schools/teachers.html" %}
   
{% endblock %}
